<!DOCTYPE html>
<html id="new-page">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <header id="new-page-header">
    <h1>Marvel Character Creation Page</h1>
      <nav>
        <a href="/marvel-home" class="nav justify-content-center">Return to Character Directory</a>
      </nav>
  </header>
  <body id="new-body">
    <form action="/marvel-home" method="POST" id="new-form">
      <div class="form-row">
         <div class="form-group col-md-6">
           Image: <input type="text" name="img" class="form-control">
         </div>
         <div class="form-group col-md-6">
           Name: <input type="text" name="name" class="form-control">
         </div>
       </div>
       <div class="form-group">
         Location in Universe: <input type="text" name="location" class="form-control">
       </div>
       <div class="form-group">
         Powers: <input type="text" name="powers" class="form-control">
       </div>
       <div class="form-row">
         <div class="form-group col-md-6">
           Movies Appeared In: <input type="text" name="movies" class="form-control">
         </div>
         <div class="form-group col-md-4">
           History: <input type="text" name="history" class="form-control">
         </div>
         <div class="form-group col-md-2">
           Deceased?: <input type="checkbox" name="dead" class="form-control">
         </div>
       </div>
      <input type="submit" value="Submit Character" class="btn btn-primary">
    </form>
  </body>
</html>
