<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Marvel Character Creation Page</h1>
      <nav>
        <a href="/marvel-home">Return to Character Directory</a>
      </nav>
    <form action="/marvel-home" method="POST">
      Image: <input type="text" name="img"><br/>
      Name: <input type="text" name="name"><br/>
      Location in Universe: <input type="text" name="location"><br/>
      Powers: <input type="text" name="powers"><br/>
      Movies Appeared In: <input type="text" name="movies"><br/>
      History: <input type="text" name="history"><br/>
      Deceased?: <input type="checkbox" name="dead"><br/>
      <input type="submit" value="Submit Character">
    </form>
  </body>
</html>
