#marvel-name {
  font-family: 'Bangers', cursive;
}
ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

img {
  height: 250px;
  width: 250px;
  /* object-fit: contain; */
}

#main-page {
  background-image: url(http://images.fanpop.com/images/image_uploads/civil-war-comics-marvel-3A-civil-war-301794_1280_800.jpg);
  background-repeat: repeat;
  background-size: cover;
}

header, #new-page-header {
  background: black;
}

#character-box {
  background-color: rgba(0, 0, 0, 0.8);
}

h1 {
  text-align: center;
  font-family: 'Bangers', cursive;
}

#index-h1, h1 {
  color: rgba(211, 211, 211, 0.5);
}

#new-form, #edit-form {
  color: white;
}

#new-page, #edit-page, {
  background-color: rgba(0, 0, 0, 0.7);;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

.container {
  margin-top: 1em;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  border: 10px solid rgba(0, 0, 0, 0.7);;
}

#show-img {
  float: right;
}

h6 {
  font-family: 'Bangers', cursive;
  margin-top: 10px;
}

#new-body, #edit-body {
  background: rgba(0, 0, 0, 0.7);
}

#countdown {
  color: rgba(211, 211, 211, 0.5);
}
